- title("#BEDevTeam")
.jumbotron.ac
  %h2 #BEStartupManifesto
  %p.lead
    In March 2014, a bunch of tech-startup enthousiasts released the
    = link_to "#BEStartupManifesto", "http://startupmanifesto.be"
  %h3 We did the math
  %p.lead More Tech Startup = More Developers
  %h3 We figured out
  %p.lead it was about time for the Belgian Developer Scene to have its own directory


.col-md-offset-1.col-md-10
  .ac
    %h2 Meet the #BEDevTeam
    = join_now_link unless current_user

  = render @users
