/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require leaflet
 *= require_self
 *= depend_on_asset "layers.png"
 *= depend_on_asset "layers-2x.png"
 *= require font-awesome

 */

.flag-third{
  width: 33.33%;
  height: 3px;
}

#black { background: #000000; }
#yellow{ background: #FFE936; }
#red   { background: #FF0F21; }

header{
  background-image: url(image-path('header.jpg'));
  position: relative;
  height: 150px;
  border-top: 1px solid #333;
  .content{
    position: absolute;
    bottom: 20px;
    background: rgba(0,0,0,0.8);
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    display: block;
    width: 100%;
    padding: 20px 5px;
    h1{
      a{
        color: #F3F3F3;
      }
      &:hover{
        text-decoration: none;
        color: #F7F7F7;
      }
    }
    nav{
      padding: 10px 0px;
      ul{
        position: absolute;
        right: 5px;
        li{
          a{
            color: white;
            &:hover{
              color: black;
            }
          }
        }
      }
    }
  }
}

#visitors-index header{
  background-position: bottom 30% right;
  height: 500px;
}

#map{
  display: block;
  position: auto !important;
  height: 250px;
}

footer{

  padding: 50px;
  background-image: url(image-path('paven/paven.png'));
}
